<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">Expense Categories</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">Accounts</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create an expense category</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create an account</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
            </nav>
    </header>
<main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                {% comment %} Maybe i need receipts.all here? {% endcomment %}
                <td>{{ category.name }}</td>
                {% comment %} Maybe i need receipts.all here? {% endcomment %}
                <td>{{ category.receipts.all.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
</body>
</html>
